body {
    background-image: url("hackathon.png"), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    color: #fff;
    height: 100vh;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 800;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-family: inherit;
    font-weight: bold;
    width: 200px;
    margin-bottom: 10px;
    border-radius: 100px;
    cursor: pointer;
}

.wrapper {
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 16px;
    border-radius: 16px;
    max-width: 400px;
    margin: 0 auto;
}

#increment-btn {
    background: blue;
}

#save-btn {
    background: darkgreen;
}

#reset-btn {
    background-color: white;
    color: black;
}